* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #faa8d9 0%, #d4e7f3 50%, #f88787 100%);

  min-height: 100vh;
  margin: 0;
  padding: 30px;

  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 10px 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

h1 {
  /* text-align:center; */
  margin-bottom: 30px;
  color: #272013;
}

.link {
  color: #272013;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(12px);
}

.link:hover {
  background: rgba(255, 255, 255, 0.4);
}

.container {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(12px);
  max-width: 1000px;
  margin: auto;
  border-radius: 5px;
}

/* h1{
    text-align:center;
    margin-bottom:20px;
} */

.drop-zone {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(12px);
  border: 3px dashed #3b82f6;
  border-radius: 15px;
  padding: 50px;
  text-align: center;
}

.btn {
  background: #2563eb;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.status,
.summary {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 0.371);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(12px);
  
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

#agencyList {
  list-style: none;
}

#agencyList li {
  margin: 8px 0;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#downloadTxt {
  background: #10b981;
  color: white;
}

#downloadIcccm {
  background: #7c3aed;
  color: white;
}

button:disabled {
  background: #9ca3af;
}

footer {
  margin-top: 40px;
  text-align: center;
  color: #272013;
  font-weight: bold;
}

footer a {
  color: #2563eb;
  text-decoration: none;
}
